recursos/.DS_Store
recursos/Checklist+_gifOS_.pdf
recursos/Guías+_gifOS_.pdf
recursos/gifOS_UI 3/.DS_Store
recursos/gifOS_UI 3/index.html
recursos/gifOS_UI 3/assets/arrow.svg
recursos/gifOS_UI 3/assets/button close.svg
recursos/gifOS_UI 3/assets/button3.svg
recursos/gifOS_UI 3/assets/camera_light.svg
recursos/gifOS_UI 3/assets/camera.svg
recursos/gifOS_UI 3/assets/close.svg
recursos/gifOS_UI 3/assets/Combined Shape.svg
recursos/gifOS_UI 3/assets/dropdown.svg
recursos/gifOS_UI 3/assets/forward.svg
recursos/gifOS_UI 3/assets/gifOF_logo_dark.png
recursos/gifOS_UI 3/assets/gifOF_logo.png
recursos/gifOS_UI 3/assets/globe_img.png
recursos/gifOS_UI 3/assets/lupa_inactive.svg
recursos/gifOS_UI 3/assets/lupa_light.svg
recursos/gifOS_UI 3/assets/lupa.svg
recursos/gifOS_UI 3/assets/recording_dark.svg
recursos/gifOS_UI 3/assets/recording.svg
recursos/gifOS_UI 3/assets/window img.png
recursos/gifOS_UI 3/links/page-1-gifos_captura_1.html
recursos/gifOS_UI 3/links/page-1-gifos_captura_3_precaptura.html
recursos/gifOS_UI 3/links/page-1-gifos_captura_4_captutando.html
recursos/gifOS_UI 3/links/page-1-gifos_captura_5_vista-previa.html
recursos/gifOS_UI 3/links/page-1-gifos_captura_6_subiendo.html
recursos/gifOS_UI 3/links/page-1-gifos_captura_7_exito.html
recursos/gifOS_UI 3/links/page-1-gifos_estados_theme1.html
recursos/gifOS_UI 3/links/page-1-gifos_estados_theme2.html
recursos/gifOS_UI 3/links/page-1-gifos_home_búsqueda.html
recursos/gifOS_UI 3/links/page-1-gifos_home_theme2.html
recursos/gifOS_UI 3/links/page-1-gifos_home.html
recursos/gifOS_UI 3/links/page-1-gifos_misguifos.html
recursos/gifOS_UI 3/links/page-1-gifos_resultados-de-busqueda.html
recursos/gifOS_UI 3/preview/page-1-gifos_captura_1.png
recursos/gifOS_UI 3/preview/page-1-gifos_captura_3_precaptura.png
recursos/gifOS_UI 3/preview/page-1-gifos_captura_4_captutando.png
recursos/gifOS_UI 3/preview/page-1-gifos_captura_5_vista-previa.png
recursos/gifOS_UI 3/preview/page-1-gifos_captura_6_subiendo.png
recursos/gifOS_UI 3/preview/page-1-gifos_captura_7_exito.png
recursos/gifOS_UI 3/preview/page-1-gifos_estados_theme1.png
recursos/gifOS_UI 3/preview/page-1-gifos_estados_theme2.png
recursos/gifOS_UI 3/preview/page-1-gifos_home_búsqueda.png
recursos/gifOS_UI 3/preview/page-1-gifos_home_theme2.png
recursos/gifOS_UI 3/preview/page-1-gifos_home.png
recursos/gifOS_UI 3/preview/page-1-gifos_misguifos.png
recursos/gifOS_UI 3/preview/page-1-gifos_resultados-de-busqueda.png
fetch.js
JuanDiaz-Gifos.zip
